/* 
    Document   : stylesheet
    Created on : Oct 23, 2014
    Author     : Kyle White
*/

root { 
    display: block;
}

body{
    background-color: gray;
}

th{
    text-align: center;
}

td{
    color: white;
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

table{
    margin: 0 auto;
}

#valueBar{
    float: left;
    width: 100%;
    background-color: orange;
}
